.pswipe-gallery {
  > img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 30px auto;
  }
}

dl {
  display: flex;
  flex-wrap: wrap;

  & > dt, & > dd {
    width: 50%;
  }

  & > dd {
    padding-left: 20px;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

.no-wrap {
  white-space: nowrap;
}

table {
  margin: 20px auto 30px;
}

.table-container {
  overflow: auto;
  margin: 20px auto 30px;

  table {
    margin: auto;
  }
}

ul {
  margin-bottom: 20px;
}